{%extends 'base.html'%}
{%load static%}

{%block main_block%}



<div class="row mt-5">

<div class="col-3">

    <img src="{% static 'images/undraw_reading_c1xl.png' %}" alt="" class="w-100">    

</div>
<div class="col-6 p-5 border border-2 shadow rounded">

    <h5 class="text-center fw-bold">Add New Transaction</h5>

    <form action="" method="post">

        {% csrf_token %} 
    
        {{form}}
    
        <div class="text-center">
            <button class="btn btn-outline-info px-4" type="submit">Add</button>

        </div>
    
    
    </form>
</div>
<div class="col-3">

</div>

</div>

{%endblock%}


