{%extends 'base.html'%}

{%block main_block%}

<!-- <h1>Expense Summary</h1>

    Total Expense: {{total_expense}}

    {%for summary in category_summary%}

        <p>{{summary.category}}:{{summary.total}}</p>

    {%endfor%} -->

    <div class="container">

        <h3>Welcome {{request.user}}</h3>

        <div class="w-50 p-5 border border-2 shadow mx-auto mt-5 rounded"><h3 class="text-center fw-bold">Total Expense: {{total_expense}}</h3></div>

        <div class="row mt-5">
            <div class="col-4 gap-2 px-2 border">
                <h5 class="fw-bold text-center">Category Summary</h5>
                {%for summary in category_summary%}
                    <div class="border rounded-pill my-2 p-2"> 

                        <span>{{summary.category}}</span> <span>{{summary.total}}</span>

                    </div>

                {%endfor%}
            </div>


            <div class="col-4 gap-2 px-2 border">
                <h5 class="fw-bold text-center">Payment Method Summary</h5>
                {%for summary in payment_summary%}
                    <div class="border rounded-pill my-2 p-2"> 

                        <span>{{summary.payment_method}}</span> <span>{{summary.total}}</span>

                    </div>

                {%endfor%}
            </div>


            <div class="col-4 gap-2 px-2 border">

                <h5 class="fw-bold text-center">Priority Summary</h5>
                {%for summary in priority_summary%}
                    <div class="border rounded-pill my-2 p-2"> 

                        <span>{{summary.priority}}</span> <span>{{summary.total}}</span>

                    </div>

                {%endfor%}

            </div>


        </div>

    </div>

{%endblock%}