<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- not inheriting from base.html -->

    <div class="row my-2">

        <div class="col-4"></div>

        <div class="col-4">

            {% if messages %}

                {% for i in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{i}}</strong> You should check in on some of those fields below.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    
        
                {% endfor %}
    
            {% endif %}

        </div>

        <div class="col-4"></div>

    </div>



    <div class="container">

        <form action="" method="post">

            {%csrf_token%}

            {%for field in form%}
            <div>
                <label for="">{{field.label_tag}}</label>
                {{field}}

                <!-- {{field}} - if we give only this, we get only input fields -->
            </div>
            {%endfor%}

            <button type="submit">Sign in</button>

        </form>

    </div>

</body>

</html>